
*{
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}




body{
    background-color: black;
    color: white;
}

.header{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(\IN-en-20231106-popsignuptwoweeks-perspective_alpha_website_small.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
   

    width: 200px;
    cursor: pointer;
}
nav button:hover{background-color: #8d2125;}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding:7px 20px;
    font-size: 12 px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;

}
nav .langbtn:hover{background-color:transparent }
.langbtn{
    display: inline-flex;
    background: transparent;
    border: 1px solid #fff;
}

.headcontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.headcontent h1{
    
    font-size: 60px;
    line-height: 70px;
    
    font-weight:600px;
    max-width: 650 px;



}

.emailsignup{
    
    background:transparent;
    border-radius: 4px;
    display: flex;

    align-items:center;
    justify-content: space-evenly;
    margin-top:10 ;

}
.emailsignup input{
    margin: 20px;
    height: 63px;
    width: 353px;
    flex: 1;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #41040427 ;
    border: #fff;
    border-width: 2px;
    border-style: solid;
    font-size: large;
    opacity: 1;

}

.emailsignup button:hover{background-color: #8d2125;}
.emailsignup button
{
    margin: 10px;
    background-color: #db0001;
    font-weight: bold;
    width: 200px ;
    height: 53px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: larger;
    
}

.gap{
    height: 8px;
    width: 100%;
    background-color: #303030;
}

.features
{
    margin-top: 10px;

    
padding: 50px 12%;
font-size: 22px;

}

.row
{
    display: flex;
    width: 100;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;

}

.textcol
{
    flex-basis: 50%;
    margin-bottom: 20px;

}

.imgcol
{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.imgcol img{
    display: block;
    width: 90%;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;

}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750;


}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;

}

.accordion li label{
    display: flex;
    align-items:center ;
    padding:20px;

    font-size: 18px;
     font-weight: 500;
background-color: #303030;
margin-bottom: 2px;
cursor: pointer;
position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content
{
    max-height: 600px;
    padding: 30px 20px;
}

.footer
{
    padding: 50px 15%;

  
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer h2 a{
  
    text-decoration: none;
    color: #777;

}

.footer .column{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}


.footer .column a{
    text-decoration: underline color(srgb red green blue);
    display: block;
    
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0px;
}

.footer .langbtn{
  color: #ffffff;
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 12 px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.emailsignup2{
    
    background:transparent;
    border-radius: 4px;
    display: flex;

    align-items:center;
    justify-content: space-evenly;
    margin-top:10 ;

}
.emailsignup2 input{
    margin: 20px;
    height: 63px;
    width: 103px;
    flex: 1;
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #41040427 ;
    border: #4e4b4b;
    border-width: 2px;
    border-style: solid;
    font-size: large;
    opacity: 1;

}

.emailsignup2 button:hover{background-color: #8d2125;}
.emailsignup2 button
{
    margin: 10px;
    background-color: #db0001;
    font-weight: bold;
    width: 200px ;
    height: 53px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: larger;
    
}
