{% extends 'base2.html' %}  {% block content %}

<div class="container mt-4">
    <h1 class="d-flex justify-content-between align-items-center">

        <span>List</span>
    </h1>

    <div class="row">
        {% for b in books %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ b.title }}</h5>
                    <p class="card-text">Year: {{ b.year }}</p>
                    <p class="card-text">{{ b.summary }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
